### Лабораторная работа №5. Библиотека Pandas

In [ ]:
import pandas as pd
import numpy as np

Задание 1. Создать и вывести на экран объект DataFrame, который вглядит следующим образом:

![](https://storage.googleapis.com/kaggle-media/learn/images/Ax3pp2A.png)

Задание 2. Создать и вывести на экран объект DataFrame, который вглядит следующим образом:

![](https://storage.googleapis.com/kaggle-media/learn/images/CHPn7ZF.png)

Задание 3. Создать и вывести на экран объект Series, который вглядит следующим образом:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

Задание 4. Записать DataFrame из ячейки ниже в .csv файл.

In [ ]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

Задание 5. Скачать файл: https://github.com/stoltzmaniac/wine-reviews-kaggle/blob/master/winemag-data_first150k.csv

Необходимо прочитать данный файл в DataFrame с названием reviews и вывести его на экран с помощью функции head().

Задание 6. Необходимо записать в отдельную переменную столбец:

*В-1, 3.* description.  
*В-2, 6.* region_1.  
*В-4, 5.* winery.

Выведите на экран первые 5 значений полученного стобца.

Задание 7. Необходимо записать в отдельную переменную:

*В-1, 3.* DataFrame, который содержит первые 5 столбцов из reviews.  
*В-2, 6.* DataFrame, который содержит последние 5 строк из reviews.  
*В-4, 5.* DataFrame, который содержит четные столбцы.

Задание 8. Необходимо записать в отдельную переменную:

*В-1, 3.* DataFrame, который содержит строки с индексами 1, 3, 5 используя .iloc.  
*В-2, 6.* DataFrame, который содержит строки с индексами 1, 4, 15 используя .loc.  
*В-4, 5.* DataFrame, который содержит строки с индексами 2, 4, 6 используя .iloc.

Задание 9. Необходимо записать в отдельную переменную:

*В-1, 3.* DataFrame, который содержит отзывы на вина из Италии или Франции.  
*В-2, 6.* DataFrame, который содержит отзывы на вина из Австралии дороже 50.   
*В-4, 5.* DataFrame, который содержит отзывы на вина из Новой Зеландии с оценкой больше 90.  

Страны перечислены в стобце country. Цены в столбце price. Оценки в столбце points.

Задание 10. Необходимо вывести на экран:

*В-1, 3.* Среднюю цену вин из Италии.  
*В-2, 6.* Среднюю цену и оценку всех вин.   
*В-4, 5.* Максимальную оценку вин из Франции.  

Страны перечислены в стобце country. Цены в столбце price. Оценки в столбце points.